<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>@ViewBag.titulo</title>

<!-- Bootstrap -->
<link href="~/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="~/assets/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="~/assets/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="~/assets/css/custom.css" rel="stylesheet">
<!-- Datatables -->
<!--<link href="~/assets/datatable/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/assets/datatable/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/assets/datatable/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/assets/datatable/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/assets/datatable/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    -->
<!--Select-->
<!--<link href="~/assets/select/bootstrap-select.min.css" rel="stylesheet" />-->
<!--Select 2-->
<!--<link href="~/assets/select2/select2.min.css" rel="stylesheet" />-->
<!--responseModel-->
<link href="~/assets/css/ini.css" rel="stylesheet" />
<!--tableboot-->
<link href="~/assets/table-boot/css/bootstrap-table.css" rel="stylesheet" />
<link href="~/assets/table-boot/plugin/select2.min.css" rel="stylesheet" />
<link href="~/assets/select2/select2-bootstrap.min.css" rel="stylesheet" />
<!--Datepicker-->
<link href="~/assets/datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<!--Sweet-->
<link href="~/assets/sweetalert/sweetalert.css" rel="stylesheet" />
<!--daterange-->
<link href="~/assets/daterangepicker/daterangepicker.css" rel="stylesheet" />
<!--Jquery-ui-->
<link href="~/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<!--[if lt IE 9]>
<script src="../assets/js/ie8-responsive-file-warning.js"></script>
<![endif]-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- jQuery -->
<script src="~/assets/jquery/dist/jquery.min.js"></script>