<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Registro de items</h3>
        </div>

    </div>
    <div class="clearfix"></div>
   
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Formulario de registro</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                     
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left input_mask">
                        <input name="id" class="hidden"/>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">                            
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Oficina</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="inputSuccess3" placeholder="" readonly>
                                    <span class="fa fa-university form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de Item</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    
                                    <select class="form-control">
                                        <option value="1">Equipos de computacion</option>
                                        <option value="2">Muebles</option>
                                        <option value="3">Vehiculos</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>
                        <hr />
                        
                        
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Serie</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="inputSuccess3" placeholder="Ingrese el numero de serie">
                                    <span class="fa fa-barcode form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>                                                
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Item</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="inputSuccess3" placeholder="Ingrese el item">
                                    <span class="fa fa-cube form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Marca</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="inputSuccess3" placeholder="Ingrese la marca">
                                    <span class="fa fa-file-text-o form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Modelo</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="inputSuccess3" placeholder="Ingrese el modelo">
                                    <span class="fa fa-file-text-o form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Codigo</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="inputSuccess3" placeholder="Ingrese el codigo">
                                    <span class="fa fa-qrcode  form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripcion</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">                                    
                                    <textarea class="form-control" placeholder="Ingrese la descripcion"></textarea>                                    
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div style="text-align:center">                                    
                                    <button class="btn btn-primary" type="reset">Limpiar</button>
                                    <button type="submit" class="btn btn-success">Agregar</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>                       
        </div>

        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Items Existentes<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                       
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Serie</th>
                                <th>Codigo</th>
                                <th>Tipo</th>
                                <th>Descripcion</th>
                                <th>Oficina</th>
                                <th>Area</th>
                            </tr>
                        </thead>
                    </table>
                    
                </div>
            </div>
        </div>


       
    </div>
   

    

    


    
</div>