@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sistema | </title>

    <!-- Bootstrap -->
    <link href="~/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />    
    <!-- Font Awesome -->
    <link href="~/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />    
    <!-- NProgress -->
    <link href="~/assets/nprogress/nprogress.css" rel="stylesheet" />    
    <!-- Animate.css -->
    <link href="~/assets/animate.css/animate.min.css" rel="stylesheet" />    
    <!-- Custom Theme Style -->
    <link href="~/assets/css/custom.css" rel="stylesheet" />   
    <!--Ini--> 
    <link href="~/assets/css/ini.css" rel="stylesheet" />

    <script src="~/assets/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/form/jquery.form.js"></script>
    <script src="~/assets/js/ini.js"></script>
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form" >
                <section class="login_content">
                    @using (Html.BeginForm("Acceder", "Login", FormMethod.Post))
                    {
                        <h1>Iniciar Sesion</h1>
                        <div>
                            <input type="text" class="form-control" name="Usuario" placeholder="Usuario" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" name="Password" placeholder="Contraseña" required="" />
                        </div>
                        <div>
                            <!--<button class="btn btn-default submit btn-block" data-ajax="true" type="submit">Iniciar</button>-->
                            <button data-ajax="true" data-mensaje="#respuesta" type="button" class="btn btn-primary">
                                Ingresar
                            </button>
                           
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                           

                            <div class="clearfix"></div>
                            <br />
                            <div id="respuesta"></div>
                            @*<div>
                                <h1>Sistema</h1>
                                <p>©2017 Luis Gabriel Chavez</p>
                            </div>*@
                        </div>
                    } 
                </section>
            </div>

            
        </div>
    </div>
</body>
</html>
